<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring_01_Student_v2_A:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_01_Student_v2_A_war_exploded2</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring_01_Student_v2_A/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring_01_Student_v2_A" />
        </element>
      </element>
    </root>
  </artifact>
</component>